<h1>Welcome to our Team!</h1>
<ul>
    <li>
        <%= link_to 'Patsy', '/patsy' %>
    </li>
    <li>
        <%= link_to 'Michael', '/michael' %>
    </li>
    <li>
        <%= link_to 'Jacob', '/jacob' %>
    </li>
    <li> 
    <%= link_to 'Cubed Number', '/cubed'  %> 
    </li>
    <li> 
    <%= link_to 'evenly', '/evenly' %> 
    </li>

</ul>

